.ecriture_table {
    width: 90%;
    border-collapse: collapse;
    box-sizing: border-box;
    margin-left: 50px;
}

.ecriture_table td, .ecriture_table th {
    border: 1px solid white;
}

.case-montant {
    width: 125px;
    text-align: right;
    padding-right: 20px;
}

.titre-montant {
    text-align: right;
    padding-right: 20px;
}

#ecriture_line {
    height: 60px;
    text-align: left;
    background-color: white;
    border-bottom: 1px solid #1C2541;
    transition: 0.5s;
}

#ecriture_line:hover {
    transform: scale(1.05);
}

#ecriture_line:nth-child(odd) {
    background-color: rgb(242, 242, 242);
}

#ecriture_line:nth-child(odd) td {
    border: 1px solid rgb(246, 246, 246);;
}

#ecriture-title {
    height: 45px;
    text-align: left;
    font-size: 14px;
    background-color: #1C2541;
    color: white;
}

#ecriture-title th {
    border: 1px solid #1C2541;
    padding-top: 0px;
}

#journal-title:first-child {
    margin-top: 25px;
}

#journal-title {
    padding-top: 25px;
    padding-left: 50px;
}

.libelle {
    width: 200px;
    padding-left: 20px;
}

.case-compte {
    width: 150px;
}

.case-date, .case-num, .case-compte, .titre {
    text-align: center;
}

.empty-pan {
    text-align: center;
}

#button-range button {
    height: 35px;
    width: 225px;
    margin-top: 15px;
    border: 1px solid transparent;
    transition: 0.5s;
}

#button-range button:hover {
    transform: scale(1.05);
}

.total-case {
    height: 45px;
    background-color: transparent;
    font-weight: bold;
}

.case-somme {
    text-align: right;
    padding-right: 20px;
    color: #1C2541;
}

#new-ecriture {
    background-color: #1C2541;
    color: white;
    font-weight: bold;
    margin-left: 50px;
}

#see-ecritures {
    margin-left: 51%;
    font-weight: bold;
    margin-top: 5px;
    background-color: #CCA438;
}

#see-ecritures i {
    padding-left: 15px;
}

.element_ecriture {
    padding-top: 25px;
}