body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.radio-box {
    height: 125px;
    padding-top: 125px;
    padding-left: 30%;
}

.radio-box label {
    width: 145px;
    margin-left: 25px;
    text-align: center;
}

/**---------------bilans----------------**/

.info-societe-box {
    border: 1px solid transparent;
    height: fit-content;
    margin-top: 5px;
    background-color: transparent;
}

.info-societe-box h3 {
    padding-left: 5%;
    font-size: 17px;
}

.bilan-box {
    border: 1px solid transparent;
    height: fit-content;
    width: 90%;
    margin-left: 55px;
    margin-top: 25px;
    background-color: #1C2541;
    color: white;
}

.bilan-box h3 {
    text-align: center;
    font-size: 17px;
}

.bilan-box-content {
    border: 1px solid transparent;
    height: fit-content;
    width: 90%;
    margin-left: 55px;
    background-color: white;
}

.bilan-box-content table .passif-line th:first-child, .bilan-box-content table .passif-line td:first-child {
    width: 63%;
}

.bilan-box-content table .passif-line td:nth-child(2), .bilan-box-content table .passif-line td:nth-child(3) {
    width: 175px;
}

.bilan-box-content table .passif-line td:nth-child(2) {
    text-align: center;
}

.bilan-box-content table .passif-line td:nth-child(3), .bilan-box-content table .passif-line th:nth-child(3),
.bilan-box-content table .passif-line td:nth-child(4), .bilan-box-content table .passif-line th:nth-child(4),
.bilan-box-content table .passif-line td:nth-child(5), .bilan-box-content table .passif-line th:nth-child(5) {
    text-align: right;
    padding-right: 25px;
}

.passif-line {
    height: 45px;
}

.passif-line th, .passif-line td {
    padding-left: 60px;
}

.passif-line th h4 {
    text-align: left;
    padding-left: 60px;
}

.total-line {
    border: 1px solid black;
    height: 35px;
}

.passif-line .case {
    padding-top: 15px;
    width: 175px;
}


/*-----------------------*/

.bilan-box-content table .actif-line th:first-child, .bilan-box-content table .actif-line td:first-child {
    width: 25%;
}

.bilan-box-content table .actif-line th:nth-child(2), .bilan-box-content table .actif-line td:nth-child(2) {
    width: 75px;
}

.bilan-box-content table .actif-line td {
    height: 65px;
}